.mydiv{
    
    background-color: black;
    

}

.myh1{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

html{
    background-color: black;
}

@media only screen and (max-width: 600px){
    .myh1{
        font-size: 1.3rem;
    }
}