.posterImage {
    height: 550px;

}

.posterImage>img {
    margin: auto;
    display: block;
    width: 100%;
}

.nominate {
    margin-left: 40px;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 1;
    transition: opacity .3s;
    color: white;
}

.posterImage__overlay:hover {
    opacity: 1;
}

.title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.rating {
    margin-left: 3rem;
}

.description {

    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .posterImage {
        width: 100%;
        height: 200px;
    }

    .posterImage img {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (min-width: 800px) {
    .posterImage {
        width: 100%;
        height: 550px;
    }


}