.outermost {

    background-image:
        linear-gradient(to right, rgba(255, 0, 0, 0), rgb(15, 10, 10)), url('https://assets.nflxext.com/ffe/siteui/vlv3/e451379a-dd0a-4657-b530-4ca4c0cb2aee/430b26cf-b6e1-473e-a55d-0abc03631481/IN-en-20230123-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}

.newbtn {
    background-color: rgb(160, 8, 8);
    border: none;
    margin-right: 8px;
}

.agmovie {
    color: antiquewhite;
    font-weight: 500;
    font-size: 2.3rem;
    background: linear-gradient(to right, rgb(160, 8, 8),
            rgb(160, 8, 8), white, white);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: black;

}


.mainhead{
    
    color: white;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    width: 50%;
    margin: 100px auto 0 auto;
}

.mainhead p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}
@media only screen and (max-width: 600px) {
    .agmovie{
        font-size: 1.6rem;
    }
    .mainhead{
        font-size: 1.6rem;
        width: 100%;
    }
    .mainhead p{
        font-size: 15px;
    }
}
