.time {
    text-align: center;
}
.contest {
    text-align: center;
   

}
.clock h1{
   
    font-size: 20px;
}

@media only screen and (max-width: 600px){
    .clock h1{
        font-size: 0.8rem;
    }
}