.gradient-custom {
    background-image:
        linear-gradient(to right, rgba(255, 0, 0, 0), rgb(15, 10, 10)), url('https://assets.nflxext.com/ffe/siteui/vlv3/e451379a-dd0a-4657-b530-4ca4c0cb2aee/430b26cf-b6e1-473e-a55d-0abc03631481/IN-en-20230123-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    width: 100%;
    height: 100%;

    }

.form{
    border: none;
}
