.myposter img{
   
   width: 30%;
   height: 400px;
   border-radius: 10px;
   margin-bottom: 20px;
   
}
.rank{
   font-size: 50px;
   color: #d9534f;
}
.myposter{
   
   display: inline;
   
}
.mytitle{
   font-size: 45px;
}

.detail{
    width: 67%;
   float: right;
   margin: auto 0 auto 0;

}

.maindiv{
   width: 80%;
   margin: 0 auto 0 auto;
}

body{
   background-color: black;
   color: white;
}
@media only screen and (max-width: 600px){
   .myposter{
      display: block;
   }
   .myposter img {
      width: 100%;
     border-radius: 10px;
     
      margin-bottom: 10px;
  }
  .maindiv{
   width: 100%;
   
  }
  .detail{
   width: 100%;
   float: none;
  }
  .rank{
   font-size: 30px;

  }
  .mytitle{
   font-size: 2rem;
   line-height: normal;
  }
  .descriptionl{
   font-size: 1rem;
   margin-bottom: 10px;
  }
}